form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
}

input,textarea{
margin-bottom:10px;
padding:8px;
}

button{
background:#457B9D;
color:white;
border:none;
padding:10px;
cursor:pointer;
}